@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to World Wide Surf Breaks</h1>
    <p>Learn about surf forecasts around the world.</p>
</div>

<img src="/images/bali_surfshot.JPG" alt="Sample Photo" />

<div style="background-image: url('/bali_surfshot.JPG');"></div>
